h1 {
    text-align: center;
    font-weight: bold;
    font-size: 45px;
}

.container {
    width: 85%;
    margin-top: 50px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 0.8rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
  
th {
    background-color: #f4f4f4;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;

}

tr:hover {
    background-color: #f1f1f1;
}

.button-delete {
    color: red;
}

.forma {
    margin-top: 60px;
    margin-bottom: 30px;
}

.form-control {
    background-color: rgb(212, 214, 213);
}