.product-page {
  margin-top: -30px;
  background-color: #9eeba34e;
  padding: 90px 60px 60px 60px;
}

.product-page-container {
  display: flex;
  gap: 50px;
}

.product-page-left {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  gap: 20px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(87, 87, 87, 0.18); 
  border-radius: 13px;
}

.product-page-images {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 650px;
  height: 600px;
}

.product-page-main-image {
  width: 90%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
  padding: 20px 0px 20px 0px;
}

.product-page-thumbnails {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 10px;
}

.product-page-thumbnail {
  width: 80px;
  height: 80px;
  object-fit: contain;
  margin-bottom: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
  border: 2px solid transparent;
  border-radius: 10px;
}

.product-page-thumbnail:hover {
  transform: scale(1.1);
  border: 2px solid #f7f7f7;
}

.product-page-right {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 20px;
}

.product-page-title-container {
  font-size: 28px;
  font-weight: 800;
  padding: 20px 30px 40px 40px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(87, 87, 87, 0.18); 
  border-radius: 13px;
  color: #3e3935;
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
}

.circle-green {
  background-color: rgb(28, 186, 28);
}

.circle-red {
  background-color: rgb(186, 28, 28);
}

.availability-text {
  font-size: 18px;
  font-weight: 500;
  vertical-align: middle;
}

.add-to-cart-button:disabled {
  background-color: grey;
  cursor: not-allowed;
}


.product-page-price-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 70px 20px 40px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(87, 87, 87, 0.18);  
  border-radius: 13px;
  font-size: 24px;
  font-weight: 600;
  color: #3e3935;
}

.product-page-price-container .buy-button {
  font-weight: 600;
  color: black;
  padding: 20px 80px 20px 80px;
}

.product-page-price-container .bag-icon {
  margin: 1px -10px 0px 6px;
  height: 40px;
  width: 40px;
}

.product-page-extra-container {
  background-color: white;
  box-shadow: 0 4px 6px rgba(87, 87, 87, 0.18); 
  border-radius: 13px;
  font-size: 24px;
  font-weight: 800;
  color: #3e3935;  
  padding: 20px 30px 200px 40px;
}

@media (max-width: 1460px) {
  .product-page-price-container .buy-button {
    font-weight: 600;
    padding: 10px;
  }

  .product-page-title-container {
    font-size: 22px;
    font-weight: 600;
  } 
}

@media (max-width: 1315px) {
  .product-page-price-container {
    font-size: 20px;
    padding: 20px 20px 20px 40px
  }

  .product-page-images {
    width: 450px;
    height: 400px;
  }

  .product-page-extra-container {
    font-size: 20px;
    font-weight: 600;
    padding: 20px 30px 40px 40px;
  }
}

@media (max-width: 1030px) {
  .product-page-images {
    width: 350px;
    height: 300px;
  }
  
  .product-page-title-container {
    padding: 0px 0px 0px 10px;
  }

  .product-page-thumbnail {
    width: 40px;
    height: 40px;
  }

  .product-page-price-container .buy-button {
    font-weight: 600;
    padding: 5px;
  }

  .product-page-extra-container {
    font-size: 20px;
    font-weight: 600;
    padding: 0px 10px 0px 15px ;
  }

}

@media (max-width: 850px) {
  .product-page-container {
    flex-direction: column; /* Расположить столбцы вертикально */
  }

  .product-page-left {
    width: 100%; /* Ширина контейнера по всей ширине экрана */
    margin-bottom: 20px; /* Отступ снизу для разделения */
    display: flex;
    flex-direction: column;
  }

  .product-page-right {
    width: 100%; /* Ширина контейнера по всей ширине экрана */
  }

  .product-page-images {
    width: 100%;
    height: auto; /* Автоматическая высота, чтобы подстраиваться под ширину */
  }

  .product-page-main-image {
    width: 400px;
    height: auto; /* Масштабирование изображения пропорционально */
  }

  .product-page-thumbnails {
    flex-direction: row; /* Изменить расположение миниатюр на горизонтальное */
    flex-wrap: wrap; /* Переносить миниатюры на новую строку, если они не помещаются */
    justify-content: center;
  }

  .product-page-thumbnail {
    width: 70px;
    height: 70px;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .product-page-title-container {
    padding: 20px 30px 40px 40px;
  }
  
  .product-page-price-container {
    padding: 20px 70px 20px 40px;
  }
  
  .product-page-price-container .buy-button {
    padding: 20px 80px 20px 80px;
  }
    
  .product-page-extra-container {
    padding: 20px 30px 40px 40px;
  }  
}

@media (max-width: 610px) {

  .product-page-thumbnail {
    width: 50px;
    height: 50px;
  }
  
  .product-page-main-image {
    width: 200px;
    height: auto;
  }
  .product-page-title-container {
    padding: 5px 5px 5px 15px;
  }
  
  .product-page-price-container {
    padding: 5px 5px 5px 15px;
  }
  
  .product-page-price-container .buy-button {
    padding: 5px 10px 5px 10px;
  }
    
  .product-page-extra-container {
    padding: 5px 5px 5px 15px;
  }  
}