.product-page {
  margin-top: -30px;
  background-color: #9eeba34e;
  padding: 90px 60px 60px 60px;
}

.product-page-container {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}

.product-page-left {
  display: flex;
  padding-left: 20px;
  gap: 20px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(87, 87, 87, 0.18); 
  border-radius: 13px;
  flex: 0 0 35%; 
}

.product-page-images {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 650px;
  height: 600px;
}

.product-page-main-image {
  width: 90%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
  padding: 20px 0px 20px 0px;
}

.product-page-thumbnails {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 10px;
}

.product-page-thumbnail {
  width: 80px;
  height: 80px;
  object-fit: contain;
  margin-bottom: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
  border: 2px solid transparent;
  border-radius: 10px;
}

.product-page-thumbnail:hover {
  transform: scale(1.1);
  border: 2px solid #f7f7f7;
}

.product-page-right {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 20px;
}

.product-page-title-container {
  font-size: 28px;
  font-weight: 800;
  padding: 20px 30px 40px 40px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(87, 87, 87, 0.18); 
  border-radius: 13px;
  color: #3e3935;
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
}

.circle-green {
  background-color: rgb(28, 186, 28);
}

.circle-red {
  background-color: rgb(186, 28, 28);
}

.availability-text {
  font-size: 18px;
  font-weight: 500;
  vertical-align: middle;
}

.add-to-cart-button:disabled {
  background-color: grey;
  cursor: not-allowed;
}

.product-page-price-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 70px 20px 40px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(87, 87, 87, 0.18);  
  border-radius: 13px;
  font-size: 24px;
  font-weight: 600;
  color: #3e3935;
}

.product-page-price-container .buy-button {
  font-weight: 600;
  color: black;
  padding: 20px 80px 20px 80px;
}

.product-page-price-container .bag-icon {
  margin: 1px -10px 0px 6px;
  height: 40px;
  width: 40px;
}

.product-page-guarantee-container {
  padding: 40px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(87, 87, 87, 0.18);  
  border-radius: 13px;
  font-size: 24px;
  font-weight: 700;
  color: #3e3935;

}

.product-page-feature-container {
  display: flex;
  flex-direction: column;
  flex: content;
  background-color: white;
  box-shadow: 0 4px 6px rgba(87, 87, 87, 0.18); 
  border-radius: 13px;
  font-size: 24px;
  color: #3e3935;  
  padding: 50px 30px 100px 40px;
}

.attribute-group {
  margin-top: 20px;

}

.product-page-attributes {
  display: flex;
  flex-direction: column;
  margin: 0px 25px;
}

.attribute-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 0;

  position: relative;
}

.attribute-item:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 2px dotted #aaa8a7b3;
  background-size: 10px 10px;
  background-repeat: repeat-x;
}

.attribute-name {
  flex: 1;
  text-align: left;
}

.attribute-value {
  flex: 1;
  text-align: right;
  position: relative;
}


@media (max-width: 1460px) {
  .product-page-price-container .buy-button {
    font-weight: 600;
    padding: 10px;
  }

  .product-page-title-container {
    font-size: 22px;
    font-weight: 600;
  } 
}

@media (max-width: 1315px) {
  .product-page-price-container {
    font-size: 20px;
    padding: 20px 20px 20px 40px
  }

  .product-page-images {
    width: 450px;
    height: 400px;
  }

  .product-page-feature-container {
    font-size: 20px;
    font-weight: 600;
    padding: 20px 30px 40px 40px;
  }
}

@media (max-width: 1030px) {
  .product-page-images {
    width: 350px;
    height: 300px;
  }
  
  .product-page-title-container {
    padding: 0px 0px 0px 10px;
  }

  .product-page-thumbnail {
    width: 40px;
    height: 40px;
  }

  .product-page-price-container .buy-button {
    font-weight: 600;
    padding: 5px;
  }

  .product-page-feature-container {
    font-size: 20px;
    font-weight: 600;
    padding: 0px 10px 0px 15px ;
  }

}

@media (max-width: 850px) {
  .product-page-container {
    flex-direction: column;
  }

  .product-page-left {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }

  .product-page-right {
    width: 100%;
  }

  .product-page-images {
    width: 100%;
    height: auto;
  }

  .product-page-main-image {
    width: 400px;
    height: auto;
  }

  .product-page-thumbnails {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .product-page-thumbnail {
    width: 70px;
    height: 70px;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .product-page-title-container {
    padding: 20px 30px 40px 40px;
  }
  
  .product-page-price-container {
    padding: 20px 70px 20px 40px;
  }
  
  .product-page-price-container .buy-button {
    padding: 20px 80px 20px 80px;
  }
    
  .product-page-feature-container {
    padding: 20px 30px 40px 40px;
  }  
}

@media (max-width: 610px) {

  .product-page-thumbnail {
    width: 50px;
    height: 50px;
  }
  
  .product-page-main-image {
    width: 200px;
    height: auto;
  }
  .product-page-title-container {
    padding: 5px 5px 5px 15px;
  }
  
  .product-page-price-container {
    padding: 5px 5px 5px 15px;
  }
  
  .product-page-price-container .buy-button {
    padding: 5px 10px 5px 10px;
  }
    
  .product-page-feature-container {
    padding: 5px 5px 5px 15px;
  }  
}