.navbar-custom {
  padding: 15px;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 4px 6px rgba(148, 148, 148, 0.321);
  background-color: rgb(239, 229, 221);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.navbar-brand {
  margin-left: 30px;
  font-weight: 600;
  font-size: 38px;
  font-family: 'Irish Grover';
  color: #3E3935;
  z-index: 4;
  margin-left: 100px;
}

.menu-button {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute; 
  z-index: 4;
  top: 35px;
}

.menu-icon {
  width: 40px;
  height: 40px;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #F9F7F5;
  z-index: 3;
  overflow-x: hidden;
  transition: width 0.5s ease;
}

.overlay.open {
  width: 500px;
  border-radius: 13px;
  box-shadow: 4px 0 6px rgba(148, 148, 148, 0.321);
}

.overlay-content {
  position: absolute;
  top: 15%;
  left: 55%;
  text-align: center;
  transform: translateX(-50%); 
  color: black;
  max-height: 635px;
  overflow-y: auto;
}

.overlay-content::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.overlay-content::-webkit-scrollbar-thumb {
  background-color: #F9F7F5;
  border-radius: 10px;
}

.overlay-content::-webkit-scrollbar-thumb:hover {
  background-color: #a49e9a;
}

.overlay-content a {
  display: block;
  margin: 15px 0;
  padding: 10px 150px;
  font-size: 24px;
  text-decoration: none;
  color: #A39A92;
  font-weight: 640;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}

.overlay-content a:hover {
  color: #3E3935;
  border-color: #3E3935;
  border-radius: 13px;
}

.menuCategories {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 24px;
  margin-bottom: 30px;
  margin-right: 250px;
  color: #3E3935;
}

.subcategory-list {
  display: none;
  position: absolute;
  top: 0;
  background-color: #f9f7f5;
  border-radius: 8px;
  box-shadow: 4px 0 6px rgba(148, 148, 148, 0.321);
}

.category:hover .subcategory-list {
  display: block;
}

.subcategory {
  margin: 10px 0;
  font-size: 14px;
}

.subcategory a {
  padding: 5px 20px;
  font-size: 18px;
  text-decoration: none;
  color: #a39a92;
  font-weight: 640;
  transition: all 0.3s ease;
}

.subcategory a:hover {
  color: #3e3935;
  border-color: #3e3935;
  border-radius: 13px;
}

.blur-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.blur-background.active {
  opacity: 1;
  pointer-events: all;
}

.search-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.search-wrapper {
  position: relative;
  width: 70%;
  max-width: 700px;
}

.search-input {
  width: 100%;
  padding-right: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.nav-item {
  list-style: none;
  position: relative;
}

.signup-item {
  display: flex;
  align-items: center;
  margin-right: 16px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 550;
  color: #3E3935;
}

.signup-icon {
  width: 40px;
  height: 40px;
}

.cart-item {
  margin-right: 10px;
}

.cart-icon {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.cart-item-count {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 22px;
  height: 22px;
  background-color: #d276ad; /* Цвет фона кружка */
  color: white;
  border-radius: 50%;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
}


.navbar-brand,
.navbar-nav .nav-link {
  color: #3E3935;
  text-decoration: none;
  transition: color 0.5s ease;
}

.navbar-brand:hover,
.navbar-nav .nav-link:hover {
  color: #776d63;
}

.navbar-brand:visited,
.navbar-nav .nav-link:visited {
  color: #3E3935;
}

.navbar-brand:active,
.navbar-nav .nav-link:active {
  color: #776d63; 
}

.dropdown-menu {
  display: block;
  position: absolute;
  top: calc(100%);
  left: 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  z-index: 1050;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-item.cart-item .dropdown-menu {
  right: 0;
  left: auto;
}

.nav-item .nav-link {
  cursor: pointer;
}

.dropdown-menu-title {
  font-weight: 700;
  color: #3e3935;
}

.dropdown-item {
  padding: 7px 10px;
  border-radius: 7px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f7f7f7;
}

.cart-item-image {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.cart-item-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.cart-item-name {
  font-size: 16px;
  font-weight: 400;
  color: #625b55;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 5px;
  margin-right: 15px;
}

.cart-item-price {
  font-size: 16px;
  font-weight: 500;
  color: #3e3935;
}

.mx-2 {
  font-weight: 600;
  padding: 3px 8px;
}

.dropdown-footer {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  border-top: 2px solid #ddd;
}

.dropdown-footer button {
  margin-top: 15px;
  padding: 15px 20px;
  background-color: #3e3935;
  color: white;
  font-weight: 500;
}

.dropdown-footer button:hover {
  background-color: #625b55;
  color: white;
}

.nav-item.profile-item .dropdown-menu {
  left: 0;
  right: auto;
}

.profile-item .dropdown-item {
  padding: 10px 15px;
  font-weight: 500;
}

.profile-item .dropdown-item:hover {
  background-color: #f0f0f0;
}


@media (max-width: 701px) {
  .navbar-custom {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }
  
  .navbar-brand {
    font-size: 30px;
    margin-top: 5px;
    padding: 0;
  }

  .menu-button {
    position: relative;
    z-index: 3;
    margin-left: -10px;
    margin-top: -65px;
  }

  .search-container {
    width: 60%;
  }
  
  .search-wrapper {
    width: 60%;
  }

  .signup-item,
  .cart-item {
    margin-left: 0px;
    padding: 0px;
    margin-right: -10px;
    font-size: 16px;
  }

  .cart-icon, .signup-icon {
    height: 30px;
    width: 40px;
  }
}

@media (max-width: 575px) {
  .navbar-custom {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }
  
  .navbar-brand {
    text-align: left;
    margin-right: 150px;
    font-size: 30px;
    margin-top: 5px;
    padding: 0;
  }

  .menu-button {
    position: relative;
    z-index: 3;
    margin-left: -20px;
    margin-bottom: -85px;
  }

  .search-container {
    width: 40%;
    margin-left: -70px;
  }

  .search-wrapper {
    width: 40%;
  }

  .signup-item,
  .cart-item {
    margin-left: -80px;
    padding: 0px;
    margin-right: -10px;
    font-size: 16px;
  }

  .cart-icon, .signup-icon {
    height: 30px;
    width: 40px;
  }

  .signup-icon {
    margin-left: -70px;
  }
  .cart-item {
    margin-left: 5px;
    margin-top: -48px;
  }
}